<h1>The Component Lifecycle</h1>
<h2>Resetting Presentation State on Attribute Change with didUpdateAttrs</h2>
<ComponentsProfileEditor @name={{this.name}} @department={{this.department}} @email={{this.email}} />

<h1>Wrapping Content in a Component</h1>
<h2>Sharing Component Data with its Wrapped Content</h2>
<ComponentsBlogPost @editStyle="components-markdown-style" @postData={{this.myText}} as |post|>
  <p class="author">by {{this.author}}</p>
  {{post.body bodyStyle="compact-style"}}
</ComponentsBlogPost>

<h1>Customizing a Component's Element</h1>
<ComponentsNavigationBar class="secondary" />

<h1>Using Block Params</h1>
<h2>No block</h2>
<ComponentsBlogPost2 @post={{this.post}} />
<h2>Block</h2>
<ComponentsBlogPost2 @post={{this.post}} as |title body author|>
  <h2>{{title}}</h2>
  <p>{{author}}</p>
  <p>{{body}}</p>
</ComponentsBlogPost2>